html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
}
.portfolio-card,
.service-card,
.blog-card,
footer i {
  transition: all 0.5s ease-out;
}
.portfolio-card:hover,
.service-card:hover,
.blog-card:hover,
footer i:hover {
  transform: scale(1.1);
  cursor: pointer;
}
footer {
  background: #000;
}
